# Quality Report
Use this file to outline the test strategy for this package.

## QA Owner: [Darren Quek, Ed Shih]
## UX Owner: [*Add Name*]

## Test strategy

2D Animation Test Cases in Test Rail (Covers PSB Importing) :
https://qatestrail.hq.unity3d.com/index.php?/suites/view/2067&group_by=cases:section_id&group_order=asc&group_id=30244

Jira Tracker for PSD Importer:
https://unity3d.atlassian.net/browse/UR-315

## Package Status

New Animation V2 Package
.................................

Main test coverage for Importing PSBs and files working with the Animation Package. 
V2 Samples are also checked with the latest package.

New Animation V2.1 Package
.................................

Issues fixed:
 1. Packing tag functionality is removed
 2. Import PSB as single assert fix
 3. Docs updates

Package is stable with no reported/unresolved crashes, and no major unresolved bugs.
